@{
    ViewData["Title"] = "Spa Model - Body Treatments";
}

@model Posting

<body class="bodyTag">
    <div class="border-left border-right border-dark innerBody">
        <div class="d-flex border-bottom border-dark w-100 justify-content-between navBar2">
            <h1>Spa Model</h1>
            <div class="d-flex gap-3 mt-4 p-3">
                <a href="/bodytreatments" disabled class="link-light"><strong>Body Treatments</strong></a>
                <a href="/facials" class="link-light">Facials</a>
                <a href="/nailservices" class="link-light">Nail Services</a>
                <a href="/" class="link-light">Home</a>
            </div>
        </div>
        <div class="d-flex align-items-center justify-content-center flex-column  p-4">
            <h2>All Body Treatments</h2>
            <div class="d-flex flex-wrap m-2 justify-content-center">
                @foreach (Posting p in ViewBag.BodyTreatments)
                {
                    <div class="border border-dark m-2 p-3  serviceDiv">
                        <p><strong>Service Type:</strong> @p.ServiceType</p>
                        <p><strong>Location:</strong> @p.Location</p>
                        <div class="d-flex gap-2">
                            <p><strong>Website:</strong></p>
                            <a href="http://@p.Website">@p.Website</a>
                        </div>
                        <div class="d-flex gap-2">
                            <p><strong>Date:</strong> @p.Date.ToString("MM/dd/yyyy")</p>
                            <p><strong>at</strong> @p.Time.ToString("h:mm tt")</p>
                        </div>
                        <div class="d-flex gap-2">
                            <p><strong>Contact Info:</strong></p>
                            <a href="mailto: @p.ContactInfo">@p.ContactInfo</a>
                        </div>

                        <p><strong>Service Description: </strong>@p.Description</p>
                    </div>
                }
            </div>
        </div>


    </div>

</body>
