@{
    ViewData["Title"] = "Spa Model";
}

@model MyViewModel

@await Html.PartialAsync("_NavbarLogged")
<div class=" d-flex justify-content-around AllServicesDesc dashboardBody">
    <div>
        <h2>Create a new Post</h2>
        @await Html.PartialAsync("_NewPosting")
    </div>
    <div class="w-50">
        <h2>Your current posts</h2>
        @foreach (Posting p in ViewBag.AllUserPosts)
        {
            <div class="border border-dark p-2 m-2 serviceDiv2 shadow">
                <p>Service Type: @p.ServiceType</p>
                <p>Location: @p.Location</p>
                <div class="d-flex gap-2">
                    <p>Website:</p>
                    <a href="http://@p.Website">@p.Website</a>
                </div>
                <div class="d-flex gap-2">
                    <p>Date: @p.Date.ToString("MM/dd/yyyy")</p>
                    <p>at @p.Time.ToString("h:mm tt")</p>
                </div>
                <div class="d-flex gap-2">
                    <p>Contact Info:</p>
                    <a href="mailto: @p.ContactInfo">@p.ContactInfo</a>
                </div>

                <p>Service Description: @p.Description</p>
                <div class="d-flex justify-content-end align-items-center p-1">
                    <a href="/posts/@p.PostingId/edit" class="link-dark"><button class="btns m-2">Edit</button></a>
                    <form asp-action="DestroyPost" asp-controller="Home" asp-route-postId="@p.PostingId" method="post">
                        <input type="submit" value="Delete" class="m-2 btns">
                    </form>
                </div>
            </div>
            <div>


            </div>
        }
    </div>
</div>
@await Html.PartialAsync("_Footer")
